#drink {
	width: 300px;
	margin:0 auto;
	display:block;
}
#whiskey {
	-webkit-animation: drank 10s ease infinite;
	        animation: drank 10s ease infinite;
}
@-webkit-keyframes drank {
	0% {
	    -webkit-transform: translateY(0px);
	            transform: translateY(0px);
	  }
	 50% {
	    -webkit-transform: translateY(40px);
	            transform: translateY(40px);
	}
	100% {
	    -webkit-transform: translateY(0px);
	            transform: translateY(0px);
	  }
}
@keyframes drank {
	0% {
	    -webkit-transform: translateY(0px);
	            transform: translateY(0px);
	  }
	 50% {
	    -webkit-transform: translateY(40px);
	            transform: translateY(40px);
	}
	100% {
	    -webkit-transform: translateY(0px);
	            transform: translateY(0px);
	  }
}